.guding {
  position: fixed;
  top: 0;
  z-index: 199;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 39px -27px black;
}
.guding .top {
  width: 75rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
}
.guding .top .biaoti {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #161616;
}
.guding .top .function {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.guding .top .function a {
  margin: 0 0.9375rem;
  color: #777;
}
.foot {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 450px;
  background: #343434;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.foot .footqian {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 1200px;
}
.foot .footqian .TelephonePIC {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: BrownProBold;
  font-size: 20px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  height: 175px;
  width: 500px;
  color: #fff;
}
.foot .footqian .TelephonePIC .logo {
  color: #fff;
  font-family: BrownProBold;
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
}
.foot .footqian .footFunction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 250px;
  width: 200px;
  color: #b2b2b2;
  font-size: 14px;
}
.foot .footqian .footFunction a {
  color: #b2b2b2;
}
.foot .footqian .Telephone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.foot .footqian .Telephone .TelephoneNR .fw24 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #d1d1d1;
  border-bottom: 2px solid #3f3f3f;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}
.foot .footqian .Telephone .TelephoneNR .fw24 .tit {
  font-size: 18px;
  color: #f7f7f7;
}
.foot .footqian .Telephone .TelephoneNR .shouji {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.foot .footshen {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #9b9b9b;
  background: #292929;
}
a {
  text-decoration: none;
}
